<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bw.dao.MyDao">

  <select id="list" resultType="Food">
  
  SELECT f.*,GROUP_CONCAT(pei.pname) pname from food f LEFT JOIN cp on f.fid=cp.fid LEFT JOIN
 pei on pei.pid=cp.pid 
 <where>
 
  <if test="fname!=null and fname!=''">
    and f.fname like '%${fname}%'
  
  </if>
 
 </where>
  GROUP BY f.fid
  </select>
   <select id="peilist" resultType="Pei">
   
   select *from pei
   
   </select>
  <insert id="add">
    
  insert into food values(null,#{fname},#{price})
  <selectKey keyProperty="fid" order="AFTER" resultType="int">
   select LAST_INSERT_ID()
  
  </selectKey>
  </insert>

  <insert id="addcp">
   insert into cp values
   <foreach collection="pids" item="pid" separator=",">
   (${fid},${pid})
   
   </foreach>
  </insert>
  
  <resultMap type="Food" id="map">
    <id column="fid" property="fid"/>
    <result  column="fname" property="fname"/>
    <result  column="price" property="price"/>
    <collection property="list" ofType="Pei">
       <id column="pid" property="pid"/>
        <result  column="pname" property="pname"/>
    </collection>
  </resultMap>
  <select id="show" resultMap="map">
    select *from food f left join cp on cp.fid=f.fid LEFT JOIN pei on pei.pid=cp.pid where f.fid=${fid}
  </select>
  
  <update id="updfood">
  
   update food 
   
   <set>
     <if test="fname!=null and fname!=''">
       fname=#{fname},
     
     </if>
   
     <if test="price!=null and price!=''">
       price=#{price},
     
     </if>
   
   
   </set>
   where fid=${fid}
  </update>
  <delete id="delcp">
  delete from cp where fid=${fid}
  
  
  </delete>
  
   <delete id="delallcp">
     delete from cp where fid in (${fids})  
  </delete>
  
   <delete id="delallfood">
     delete from food where fid in (${fids})
  </delete>
  
  

</mapper>